body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #021a2e;
}

#root {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding: 1px;
    overflow-y: auto;  
    max-height: 100vh; 
}

.producto {
    background-color: white;
    border-radius: 12px;  
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 180px;  
    overflow: hidden;
    text-align: center;
    padding: 70px; 
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0.9;  
}

.producto:hover {
    transform: translateY(-10px);  
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    opacity: 1; 
}

.producto img {
    width: 65%; 
    height: auto;
    border-radius: 8px;
    border-bottom: 2px solid #f1f1f1;
    object-fit: cover;
    transition: transform 0.3s ease;  
}

.producto:hover img {
    transform: scale(1.1); 
}

.producto h2 {
    font-size: 18px;
    color: #333;
    font-weight: 600;
    margin: 10px 0;
    transition: color 0.3s ease;
}

.producto:hover h2 {
    color: blue;  
}

.precio-original {
    text-decoration: line-through;
    color: #888;
    font-size: 20px;
    margin-bottom: 5px;
}

.precio-descuento {
    color: #d9534f;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
}

.descuento {
    background-color: #d9534f;
    color: white;
    padding: 8px 15px;
    border-radius: 30px;  
    font-size: 14px;
    position: absolute;
    top: 15px;
    right: 15px;
    transform: rotate(10deg);
    animation: bounce 1s infinite alternate; 
}

@keyframes bounce {
    0% {
        transform: rotate(10deg) translateY(0);
    }
    100% {
        transform: rotate(10deg) translateY(-5px);
    }
}
