body {
    background-color: #f0f4f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: px; 
    justify-items: center;
    width: 50rem;
    margin-top: 10px;
}

.producto {
    width: 100;
    max-width: 350px;
    border: 1px solid #e1e1e1;
    border-radius: 12px; 
    padding: 15px; 
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background-color: #ffffff;
    background-image: linear-gradient(135deg, #f5f5f5 25%, transparent 25%), linear-gradient(225deg, #f5f5f5 25%, transparent 25%);
    background-size: 8px 8px; 
    background-position: 0 0, 4px 4px; 
}

.producto:hover {
    transform: scale(1.03); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.producto img {
    width: 40%; 
    height: auto;
    border-radius: 8px; 
    margin-bottom: 10px;
    transition: transform 0.2s ease;
}

.producto img:hover {
    transform: scale(1.08); 
}

.producto h2 {
    font-size: 21px; 
    margin: 8px 0;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.producto h2:hover {
    color: #007bff;  
}

.precio-original {
    font-size: 20px; 
    color: #999;
    text-decoration: line-through;
    margin: 5px 0;
}

.precio-descuento {
    font-size: 15px; 
    color: #27ae60;
    font-weight: bold;
    margin: 8px 0;
}

.descuento {
    background-color: #ff4757;
    color: white;
    padding: 4px 8px; 
    font-size: 20px; 
    font-weight: bold;
    border-radius: 4px; 
    margin-top: 8px;
    display: inline-block;
}
.producto p:last-child {
    font-size: 50px; 
    color: #777;
    margin-top: 8px;
}
.producto .btn:hover {
    background-color: #0056b3;
} 